In [304]:
import pandas as pd

In [305]:
url = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2019'

In [306]:
pd.read_html

<function pandas.io.html.read_html(io, match='.+', flavor=None, header=None, index_col=None, skiprows=None, attrs=None, parse_dates=False, thousands=',', encoding=None, decimal='.', converters=None, na_values=None, keep_default_na=True, displayed_only=True)>

In [307]:
tables = pd.read_html(url)
tables

[    No.            Title                            Artist(s)
 0     1  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus
 1     2      "Sunflower"             Post Malone and Swae Lee
 2     3     "Without Me"                               Halsey
 3     4        "Bad Guy"                        Billie Eilish
 4     5            "Wow"                          Post Malone
 ..  ...              ...                                  ...
 95   96    "Eyes on You"                           Chase Rice
 96   97  "All to Myself"                           Dan + Shay
 97   98      "Boyfriend"       Ariana Grande and Social House
 98   99   "Walk Me Home"                                 Pink
 99  100        "Robbery"                           Juice Wrld

 [100 rows x 3 columns],
   vteBillboard Year-End Hot 100 singles  \
 0                             1940–1949
 1                             1950–1969
 2                             1970–1989
 3                             1990–2009
 4                          2010–present

              vteBillboard Year-End Hot 100 singles.1
 0                                1946 1947 1948 1949
 1  1950 1951 1952 1953 1954 1955 1956 1957 1958 1...
 2  1970 1971 1972 1973 1974 1975 1976 1977 1978 1...
 3  1990 1991 1992 1993 1994 1995 1996 1997 1998 1...
 4  2010 2011 2012 2013 2014 2015 2016 2017 2018 2019  ]

In [308]:
billboard = pd.read_csv('billboard 100.csv')

In [309]:
billboard.head()

   No.            Title                            Artist(s)
0    1  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus
1    2      "Sunflower"             Post Malone and Swae Lee
2    3     "Without Me"                               Halsey
3    4        "Bad Guy"                        Billie Eilish
4    5            "Wow"                          Post Malone

In [310]:
spotify = pd.read_csv('spotify top50.csv')

In [311]:
spotify.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [312]:
spotify = spotify.drop(['Genre', 'Beats.Per.Minute', 'Energy', 'Danceability', 'Loudness..dB..', 'Liveness','Valence.', 'Length.','Acousticness..','Speechiness.','Popularity'],axis=1)

In [313]:
spotify.head()

   Unnamed: 0                       Track.Name    Artist.Name
0           1                         Señorita   Shawn Mendes
1           2                            China       Anuel AA
2           3    boyfriend (with Social House)  Ariana Grande
3           4  Beautiful People (feat. Khalid)     Ed Sheeran
4           5      Goodbyes (Feat. Young Thug)    Post Malone

In [314]:
spotify = spotify.rename(columns = {'Track.Name':'Title', 'Artist.Name':'Artist(s)'})

In [315]:
spotify.head()

   Unnamed: 0                            Title      Artist(s)
0           1                         Señorita   Shawn Mendes
1           2                            China       Anuel AA
2           3    boyfriend (with Social House)  Ariana Grande
3           4  Beautiful People (feat. Khalid)     Ed Sheeran
4           5      Goodbyes (Feat. Young Thug)    Post Malone

In [316]:
billboard.head()

   No.            Title                            Artist(s)
0    1  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus
1    2      "Sunflower"             Post Malone and Swae Lee
2    3     "Without Me"                               Halsey
3    4        "Bad Guy"                        Billie Eilish
4    5            "Wow"                          Post Malone

In [317]:
spotify['Artist(s)'].unique()

array(['Shawn Mendes', 'Anuel AA', 'Ariana Grande', 'Ed Sheeran',
       'Post Malone', 'Lil Tecca', 'Sam Smith', 'Lil Nas X',
       'Billie Eilish', 'Bad Bunny', 'DJ Snake', 'Lewis Capaldi', 'Sech',
       'Drake', 'Chris Brown', 'J Balvin', 'Y2K', 'Lizzo', 'MEDUZA',
       'Jhay Cortez', 'Lunay', 'Tones and I', 'Ali Gatie', 'Daddy Yankee',
       'The Chainsmokers', 'Maluma', 'Young Thug', 'Katy Perry',
       'Martin Garrix', 'Jonas Brothers', 'Lauv', 'Kygo', 'Taylor Swift',
       'Lady Gaga', 'Khalid', 'ROSALÍA', 'Marshmello', 'Nicky Jam'],
      dtype=object)

In [318]:
# billboard['Artist(s)'].unique()

In [320]:
split_data = billboard['Artist(s)'].str.split("\xa0")
data = split_data.to_list() 
name = ['Artist','1','2','3','4','5']
new_df = pd.DataFrame(data, columns=name)

In [321]:
new_df.head()
# new_df = new_df.rename(columns={'No.':'Artist'})
new_df = new_df.drop(['1','2','3','4','5'], axis=1)
new_df.head()

          Artist
0      Lil Nas X
1    Post Malone
2         Halsey
3  Billie Eilish
4    Post Malone

In [323]:
billboard_2 = pd.concat([billboard, new_df])
billboard_2.head(100)

      No.            Title                            Artist(s) Artist
0     1.0  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus    NaN
1     2.0      "Sunflower"             Post Malone and Swae Lee    NaN
2     3.0     "Without Me"                               Halsey    NaN
3     4.0        "Bad Guy"                        Billie Eilish    NaN
4     5.0            "Wow"                          Post Malone    NaN
..    ...              ...                                  ...    ...
95   96.0    "Eyes on You"                           Chase Rice    NaN
96   97.0  "All to Myself"                           Dan + Shay    NaN
97   98.0      "Boyfriend"       Ariana Grande and Social House    NaN
98   99.0   "Walk Me Home"                                 Pink    NaN
99  100.0        "Robbery"                           Juice Wrld    NaN

[100 rows x 4 columns]

In [303]:
billboard.head()

   No.            Title                            Artist(s)
0    1  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus
1    2      "Sunflower"             Post Malone and Swae Lee
2    3     "Without Me"                               Halsey
3    4        "Bad Guy"                        Billie Eilish
4    5            "Wow"                          Post Malone